<div class="container">
  <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">

    <h2 class="brand text-center">Grammable</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

      <div class="form-inputs">
        <%= f.input :email, placeholder: "Email", required: false, autofocus: true %>
        <%= f.input :password, placeholder: "Password", required: false %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
        <br />
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn btn-block btn-lg btn-outline' %>
      </div>
    <% end %>
    <br />
  </div>

  <div class="text-center">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">
      Dont have an account? <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
